body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 1%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #494a4d;
}

#mainContainer{
  width: 100%;
  max-width: 760px;
  margin-left: auto;
  margin-right: auto;
}

#container {
  width: 100%;
  height: 57.89vw;
  max-height: 440px;
}

#maprf {
  position: relative;
  width: 100%;
  height: 100%;
  
  display: grid;
  grid-template-columns: repeat(19, 1fr);
  grid-template-rows: repeat(11, 1fr);
}

#inputContainer{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#input {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  height: 1px;
  border-radius: 8;
  background: #263238;
  outline: none;
  opacity: 1;
  cursor: pointer;
  margin: 0;
}

#input::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 0px;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background: #263238;
  cursor: pointer;
}

#input::-webkit-slider-thumb:hover {
  background: #00ace5;
}

#input::-moz-range-thumb {
  -moz-appearance: none;
  border: 0px;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background: #263238;
  cursor: pointer;
}

#input::-moz-range-thumb:hover {
  background: #00ace5;
}

.sliderticks {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
}

.sliderticks p {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 0;
  font-size: 15px;
  font-family: 'RobotoMono';
  margin: 0 0 0 0;
}

code {
  font-family: 'Roboto';
}

#bigNumber {
  grid-column-start: 12;
  grid-column-end: 16;
  grid-row-start: 9;
  grid-row-end: 11;
  justify-content: center;
  text-align: center;
  margin: 0;
  padding: 0;
  /* color: #0CC2B5; */
}

#leginf {
  position: relative;
  font-family: 'Roboto';
  width: 100%;
  font-size: 15px;
  text-align: left;
  margin-top: 36px;
}

#legend {
  position: relative;
  width: 100%;
  height: 6px;
  font-family: 'RobotoMono';
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  margin-top: 6px;
  margin-bottom: 61px;
}

#zero {
  position: absolute;
  width: 100%;
  font-size: 13px;
  top: 12;
  text-align: center;
  transform: translate(0px,18px);
}

.legendTile {
  font-size: 13px;
  position: relative;
  top: 12;
  transform: translate(0px,18px);
}

.legendTileL {
  text-align: left;
}

.legendTileR {
  text-align: right;
}

.regAbbr {
  width: max-content;
  font-size: 13px;
  font-family: 'Roboto';
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
}

.tile{
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
}

.tile:hover {
  border-style: solid;
  border-width: 1px;
  border-color: #212226;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  transform: translate(-1px,-1px);
}

h1 {
  font-size: 21px;
  font-family: 'RobotoBold';
}

h2 {
  font-size: 36px;
  font-family: 'RobotoMono';
}

.tileCont {
  position: relative;
}

.tooltip {
  position: relative;
}

.tooltip-bubble {
  width: max-content;
  height: max-content;
  max-width: 40vw;
  position: absolute;
  z-index: 10;
}

.tooltip-left {
  top: 100%;
  right: 100%;
  transform: translate(-4px,36px);
}

.tooltip-right {
  top: 100%;
  left: 100%;
  transform: translate(42px,36px);
}

.tooltip-message {
  background: #ffffff;
  /* border-radius: 3px; */
  color: #263238;
  font-size: 15px;
  font-family: 'Roboto';
  padding: .75em;
  text-align: left;
}

@media (max-width: 560px) {
  #inputContainer{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .regAbbr {
    display: none;
  }

  h1 {
    font-size: 21px;
  }

  h2 {
    font-size: 21px;
  }
}

@media (min-width: 710px) {
  #inputContainer{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

@font-face {
  font-family: "RobotoMono";
  src: local("RM"),
   url("RobotoMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: local("R"),
   url("Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoBold";
  src: local("RB"),
   url("Roboto-Bold.ttf") format("truetype");
}